.SocialLinks {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: .75rem;
}

.SocialLinks__link { 
    padding: .2rem;
    border-radius: 2px;
    border: 1px solid transparent;
}

.SocialLinks__link svg { font-size: 2rem;}

.SocialLinks__link--facebook { color: #4267b2; }
.SocialLinks__link--twitter { color: #38A1F3; }
.SocialLinks__link--github { color: #ED3833; }
.SocialLinks__link--linkedin { color: #0077B5; }
.SocialLinks__link--instagram { color: #BD081C; }

.SocialLinks__link:hover { 
    border: 1px solid var(--main-color);
    background-color: rgba(168, 245, 236, 0.3);
}

