.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1023px) {
    .Toolbar__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-110%);
        transition: .2s all ease;
        background-color: white;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .7);
    }
}

.Toolbar__wrapper--show {
    transform: translateX(0);
}

@media only screen and (min-width: 1024px) {
    .Toolbar__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        transform: none;
    }
}