.Home__Wrapper {
}

.Home__Container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.Home__Summary {
    background-color: main(--main-white);
}

.Home__Carousel {
    background-color: main(--light-grey);
}