.AppBar {
  width: 100%;
  background: linear-gradient(-45deg, var(--main-color), var(--main-color-light));
  color: white;
}

.AppBar__Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 !important;
}

.AppBar__Brand {
  height: 40px;
  width: auto;
}

.AppBar__Toolbar .AppBar__Avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  transition: .2s all ease;
}

.AppBar__Toolbar .AppBar__Avatar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.AppBar__Avatar--hiddenXS {
  display: none;
}

@media only screen and (min-device-width : 768px){
  .AppBar__Avatar--hiddenXS {
    display: block;
  }
  
}

.UserActions {
  padding: 20px;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: left;
  background: green;
  z-index: 10;
  border-radius: 5px;
  width: 240px;
}