.Footer {
    padding: 2.5rem 0;
    width: 100%;
    background:black;
    color: #7c7e83;
    font-size: .8rem;
    line-height: .9rem; 
}

.Footer__row {
    margin-bottom: 1.5rem;
}

.Footer__content {
    margin-bottom: 1rem;
}

.Footer__content p {
    line-height: 1.1rem;
}

.Footer__content--center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Footer__title {
    letter-spacing: 1px;
    border-bottom: solid 1px #3a3a3a;
    padding-bottom: 5px;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.Footer__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem 0 0 .75rem;

}

.Footer__link {
    display: inline-block;
    margin: 5px;
    padding: 6px 15px;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 2px;
    text-transform: capitalize;
    background: var(--main-color);
    border: 1px solid var(--main-color-dark);
    color: white;
}


.Footer__link:hover {
    background: var(--main-color-dark);
    border-color: var(--main-color);
    color: white;
}

/**
 * Links del footer
 */
.Footer a[href^="tel:"], .Footer a[href^="mailto:"] {
    color: var(--main-color);
}

.Footer a[href^="tel:"]:hover, .Footer a[href^="mailto:"]:hover {
    color: var(--main-color-dark);
}

.Footer a[href^="tel:"]:before {
    content: "\260e";
    margin: 0 4px;
}

.Footer a[href^="mailto:"]:before {
    content: "\2709";
    margin: 0 4px;
}

/**
 * Social links del footer
 */
.SocialLinks {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: .75rem;
}

.SocialLinks__link { 
    padding: .2rem;
    border-radius: 2px;
    border: 1px solid transparent;
}

.SocialLinks__link svg { font-size: 2rem;}

.SocialLinks__link--facebook { color: #4267b2; }
.SocialLinks__link--twitter { color: #38A1F3; }
.SocialLinks__link--github { color: #ED3833; }
.SocialLinks__link--linkedin { color: #0077B5; }
.SocialLinks__link--instagram { color: #BD081C; }

.SocialLinks__link:hover { 
    border: 1px solid var(--main-color);
    background-color: rgba(168, 245, 236, 0.3);
}

