.Login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, var(--main-color), var(--secondary-color));
}

.Login-wrapper {
    padding: 4rem 2rem;
    background-color: white;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
}

.Login-form {
    display: grid;
    grid-gap: 2rem;
}

.Login-form .button {
    align-self: flex-end;
}

