.AdvertDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 2rem 0;
    width: 100%;
    max-width: 640px;
}

.AdvertDisplay__Header {
    align-self: flex-start;
}

.AdvertDisplay__Header .AdvertDisplay__Title {
    display: flex;
}

.AdvertDisplay__Title img {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

.AdvertDisplay__Title h1 {
    font-size: 1.25rem;
}

.AdvertDisplay__Header .Caption {
    max-height: 520px;
    width: auto;
}

.AdvertDisplay__Middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.AdvertDisplay__Middle .Price {
    display: inline-block;
    font-size: 1.5rem;
}

.AdvertDisplay__Middle .Date {
    align-self: flex-end;
    font-weight: 300;
    font-size: .9rem;
}

.AdvertDisplay__Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem 0 0 0;
}

.AdvertDisplay__Footer { 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AdvertDisplay__Footer p { 
    margin-top: .75rem;
}

@media only screen and (min-device-width : 768px){

}
