button.ButtonFill__button {
    padding: 0 1rem;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    text-transform: none;
}

button.ButtonFill__button:hover {
    background-color: var(--main-color-dark);
}

button.ButtonFill__icon {
    color: white;
}